<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.spring.pet"
          android:versionCode="1"
          android:versionName="1.0" >

  <uses-sdk  android:minSdkVersion="15" android:targetSdkVersion="26" />

  <!-- 连接网络权限，用于执行云端语音能力 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <!-- 读取网络信息状态 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- 获取当前wifi状态 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <!-- 允许程序改变网络连接状态 -->
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <!-- 读取手机信息权限 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <!-- 读取联系人权限，上传联系人需要用到此权限 -->
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <!-- 外存储写权限，构建语法需要用到此权限 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- 外存储读权限，构建语法需要用到此权限 -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!-- 配置权限，用来记录应用配置信息 -->
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
  <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <!-- 如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
  <uses-permission android:name="android.permission.CAMERA" />
  <!-- ShareSDK 允许程序获取任务信息 -->
  <uses-permission android:name="android.permission.GET_TASKS" />
  <!-- ShareSDK -->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <!-- ShareSDK-->
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <!-- ShareSDK -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <!-- ShareSDK -->
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <!-- ShareSDK -->
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <!-- ShareSDK -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true" >
    <activity android:name="com.spring.pet.MainActivity" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.mob.tools.MobUIShell"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:windowSoftInputMode="stateHidden|adjustResize" >
      <!-- 新浪回调 -->
      <intent-filter>
        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <!-- 集成Line客户端登录授权，需要添加如下格式的过滤器 -->
      <intent-filter android:priority="1000">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="line.1477692153" />
      </intent-filter>
    </activity>
    <!--
            如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，须要在此处添加一个回调activity，
            对ACTION_VIEW事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。如
            果此过滤器不设置，则分享结束以后不能得到正确的回调
        -->
    <activity
      android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
      android:launchMode="singleTask"
      android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="tencent100371282" />
      </intent-filter>
    </activity>
    <!-- 微信分享回调 -->
    <activity
      android:name=".wxapi.WXEntryActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="true" />
    <!-- 易信分享回调 -->
    <activity
      android:name=".yxapi.YXEntryActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:excludeFromRecents="true"
      android:exported="true"
      android:launchMode="singleTop" />
    <!-- 支付宝分享回调 -->
    <activity
      android:name=".apshare.ShareEntryActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="true"/>
    <!-- 这里需要自己填写一下 shareSDK的密钥 -->
    <meta-data android:name="Mob-AppKey" android:value="moba6b6c6d6"/>
    <meta-data android:name="Mob-AppSecret" android:value="b89d2427a3bc7ad1aea1e1e8c1d36bf3"/>
  </application>
</manifest>